<h2><center> Admin Dashboard </center> </h2>

<section id="widgets" class="container">
  <div class="row">
  <!--// widget 1 //-->
    <article class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>Users</center></h3>
          </div>
          <div class="panel-body">
            <div class="numeric-widget">
            <center><h1><%= PublicUser.count %> </h1></center>
            </div>
          </div>
      </div>
    </article>
  <!--// widget 2 //-->
       <article class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>Products 
             <%= link_to new_product_path, class: 'btn btn-primary btn-xs' do%>
                <i class = "glyphicon glyphicon-plus"></i> 
                <%end%>
            </center></h3>
          </div>
          <div class="panel-body">
            <div class="numeric-widget">
            <center><h1> <%= Product.count %></h1></center>
            </div>
          </div>
      </div>
    </article>


 <article class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>Orders</center></h3>
          </div>
          <div class="panel-body">
            <div class="numeric-widget">
            <center><h1><%=@orders.count%></h1></center>
            </div>
          </div>
      </div>
    </article>
  </div> 

 <div class="row">
    <article class="col-md-12">
     <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>All Orders</center></h3>
          </div>

          <div class="panel-body">
              <table class="table">
                <thead>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Expected Delivery Date</th>
                    <th>Order Status</th>
                    <th>Order Amount</th>
                </thead>
            
                <tbody>
                    <% @orders.each do |order| %>
                      <tr class="day-past">
                        <td><%=order.id%></td>
                        <td><%=order.created_at.strftime("%d %b %Y")%></td>
                        <td><% due_date = order.created_at+6.day %>
                            <%= due_date.strftime("%d %b %Y") %></td>
                        <td><%= order.order_status.status_name %>
                        <%= link_to edit_order_path(id: order), class: 'btn btn-primary btn-xs' do%>
                          <i class = "glyphicon glyphicon-pencil"></i> 
                          <%end%>
                        </td>
                        <td>$<%= order.total %></td>
                      <% end %>
                      </tr>
                </tbody>
              </table>
        </div>
    </div>
    </article>
  </div>
</section> 