<td class="itemImage ">
      <%= image_tag product.image.thumb %>
    </td>

    <td class="itemText ">
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
    </td>

    <td class="itemPrice ">
      <p>$<%= product.price %></p>
    </td>

    <td class="itemQuantity ">
      <!-- Change this to form - quantity able to be edited -->
      <p><%= number_field_tag "carted_product[#{cartprod.id}]", cartprod.product_quantity, :id => "carted_product_#{cartprod.id}" %></p>
    </td>

    <td class="itemTotal ">
      <p>$<%= product.price*cartprod.product_quantity %></p>
    </td>