<div class="col-md-4">
  <div class="card">
      <img class="card-img-top" src="<%= product.image.normal %>" alt="">
        <div class="card-body">
            <h4 class="card-title"><%= product.name %></h4>
            <p class="card-text"><%= product.price %></p>
            <p class="card-text"><%= product.description %></p>
        </div>
        <div class="card-footer">
              <%= link_to product_path(id:product.id), class: "btn btn-primary" do %>Find out More!<% end %>
        </div>
   </div>
</div>
