<div class="col-md-4">
  <div class="card">
      <img class="card-img-top" src="<%= product.image.normal %>" alt="">
        <div class="card-body">

            <h4 class="card-title"><%= link_to product.name, product_path(id:product.id) %></h4>
            <p class="card-text"><%= product.price %></p>
            <p class="card-text"><%= product.description %></p>

            <%= form_for @cartedproduct, url:carted_products_path, method: :post do |f| %>
              <%= f.label :quantity %>
              <%= f.number_field :product_quantity, :value => 1, class: "numberBox" %>
              <%= f.hidden_field :product_id, :value => product.id %>
              <% if !current_public_user.blank? %>
                <%= f.hidden_field :public_user_id, :value => current_public_user.id %>
              <% end %>
              <%= f.submit 'Add to Cart', class: "btn btn-success" %>
            <% end %>

        </div>
        <div class="card-footer">
        </div>
        <div>
            <% if admin_signed_in? %>
                <%= link_to "Edit", edit_product_path(product.id) %>
                <%= link_to "Delete", product_path(product.id), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
   </div>
</div>
